@import "tailwindcss";

@layer base {
  :root {
    --background: #f2f2f2;
    --foreground: #0f172a;
    
    --primary: #0f172a;
    --primary-foreground: #f8fafc;
    
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0f172a;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
    
    --primary: #f8fafc;
    --primary-foreground: #0f172a;
    
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    
    --border: #1e293b;
    --input: #1e293b;
    --ring: #cbd5e1;
  }

  .accessible {
    --background: #fefce8;
    --foreground: #0f172a;
    
    --primary: #0f172a;
    --primary-foreground: #fefce8;
    
    --secondary: #fef9c3;
    --secondary-foreground: #0f172a;
    
    --muted: #fef9c3;
    --muted-foreground: #64748b;
    
    --accent: #fef9c3;
    --accent-foreground: #0f172a;
    
    --destructive: #ef4444;
    --destructive-foreground: #fefce8;
    
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0f172a;
    
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  .page {
    @apply mt-24 px-4 sm:px-6 lg:px-8
  }
}